<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
  <%- include("../layout/header.ejs") %>
  <%- include("../partials/flashMessages.ejs") %>

  <div id="main">
    <form action="/auth/login" class="input-box" method="post">
      <h2>Login</h2>
      <div>
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="password" name="password" placeholder="Enter your password" required>
        <a href="/auth/reset-password">Forget Password?</a>
        <br/>
        <br/>
        <%- include("../partials/testUser.ejs") %>
        <button>Login</button>
        <%- include("../partials/oauth.ejs") %>
        <h3>Don't have an account <a href="/auth/register">Register</a></h3>
      </div>
    </form>
  </div>

  <script src="/scripts/flashMessages.js"></script>
</body>
</html>