<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>Reset Password</title>
  </head>
  <body>
    <%- include("../layout/header.ejs") %>
    <%- include("../partials/flashMessages.ejs") %>

    <div id="main">
      <%- include("../partials/userStatus.ejs") %>

      <form class="input-box" action="/auth/reset-password" method="post">
        <h2 class="heading">Enter Your Registered Email</h2>
        <div class="box">
          <input
            type="email"
            name="email"
            class="email"
            placeholder="Enter your registered email"
            required
          />
        </div>
        <button type="submit">Submit</button>
        <h3><a href="/auth/login">Go to Login</a></h3>
      </form>
    </div>

    <script src="/scripts/flashMessages.js"></script>
  </body>
</html>
