<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>Verify Email</title>
  </head>
  <body>
    <%- include("../layout/header.ejs") %> <% if (successes && successes.length >0)
    { %> <% successes.forEach((success) => { %>
    <p class="flash-success"><%= success %></p>
    <% }) %> <% } %> <% if (errors && errors.length > 0) { %> <%
    errors.forEach((error) => { %>
    <p class="flash-error"><%= error %></p>
    <% }) %> <% } %>

    <div id="main">
      <% if (user) { %>
      <div class="user-login-success">You are logged in</div>
      <h2 class="heading">Verify Your Email</h2>
      <form class="input-box" action="/auth/resend-verification-link" method="get">
        <div class="box">
          <strong
            >Email: <i><%= user.email %></i><br /><br />Your email has not been
            verified yet. Please verify your email by entering the 8-digit code
            or request a new verification link.</strong
          >
        </div>
        <br />
        <button type="submit" class="resend-link">
          Resend Verification Link
        </button>
      </form>
      <form class="input-box" action="/auth/verify-email" method="post">
        <div class="box">
          <input
            type="text"
            name="verifyCode"
            class="verify-code"
            placeholder="Enter 8 Digit Verification Code"
            maxlength="8"
            pattern="\d{8}"
            required
          />
        </div>
        <button type="submit">Verify Code</button>
      </form>
      <% } else { %>
      <div class="user-login-warning">You are not-logged in</div>
      <% } %>
    </div>

    <script>
      setTimeout(() => {
        const successes = document.querySelectorAll(".flash-success");
        if (successes.length > 0) {
          successes.forEach((success) => {
            success.style.display = "none";
          });
        }

        const errors = document.querySelectorAll(".flash-error");
        if (errors.length > 0) {
          errors.forEach((error) => {
            error.style.display = "none";
          });
        }
      }, 5000);
    </script>
  </body>
</html>
