<div class="oauth-box">
  <a href="/oauth/google">
    <img src="/assets/logos/google.png" alt="Google Icon" class="google">
  </a>
  <a href="/oauth/github">
    <img src="/assets/logos/github.png" alt="GitHub Icon" class="github">
  </a>
</div>