<div class="test-user-box">
  <h4>Test User Credentials</h4>
  <ul>
    <li><strong>Email:</strong> test@mku-short.com</li>
    <li><strong>Password:</strong> Test_User@123</li>
    <br/>
    <strong><a href="/auth/login">Login</a></strong>
  </ul>
</div>