<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Change Password</title>
  </head>
  <body>
    <%- include("layout/header.ejs") %>


    <% if (successes && successes.length > 0) { %>
      <% successes.forEach((success) => { %>
        <p class="flash-success"><%= success %></p>
      <% }) %>
    <% } %>

    <% if (errors && errors.length > 0) { %>
      <% errors.forEach((error) => { %>
        <p class="flash-error"><%= error %></p>
      <% }) %>
    <% } %>

    <div id="main">
      <% if (user) { %>
      <div class="user-login-success">You are logged in</div>
      <form class="input-box" action="/change-password" method="post">
        <h2 class="heading">Change Your Password</h2>
        <div class="box">
          <input
            type="password"
            name="oldPassword"
            class="old-password"
            placeholder="Enter your current password"
            required
          />
        </div>
        <div class="box">
          <input
            type="password"
            name="newPassword"
            class="new-password"
            placeholder="Enter your new password"
            required
          />
        </div>
        <div class="password-valid-box">
          <h4>Password must:</h4>
          <ul>
            <li>Be at least 8 characters long</li>
            <li>Contain a number</li>
            <li>Include uppercase and lowercase letters</li>
            <li>Include special character eg. +!&@#$/</li>
          </ul>
        </div>
        <button type="submit">Change Password</button>
        <h3><a href="/profile">Go to Profile</a></h3>
      </form>
      <% } else { %>
      <div class="user-login-warning">You are not-logged in</div>
      <% } %>
    </div>

    <script>
      setTimeout(() => {
        const successes = document.querySelectorAll(".flash-success");
        if (successes.length > 0) {
          successes.forEach((success) => {
            success.style.display = "none";
          });
        }

        const errors = document.querySelectorAll(".flash-error");
        if (errors.length > 0) {
          errors.forEach((error) => {
            error.style.display = "none";
          });
        }
      }, 5000);
    </script>
  </body>
</html>
