<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>404! Not Found</title>
</head>
<body>
  <%- include("layout/header.ejs") %>
  <img src="/error.png" alt="404 Error">
  <h1>Oops, <br /><%= message %></h1>
  <a href="/">Go To Home</a>
</body>
</html>