<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Register</title>
  </head>
  <body>
    <%- include("layout/header.ejs") %>
    <div id="main">
      <form action="/register" class="input-box" method="post">
        <h2>Register</h2>
        <div>
          <input
            type="text"
            name="name"
            placeholder="Enter your name"
            required
          />
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            required
          />
          <button>Register</button>
          <h3>Already have an account <a href="/login">Login</a></h3>
          <% if (errors && errors.length > 0) { %> <% errors.forEach((error) =>
          { %>
          <p class="flash-error"><%= error %></p>
          <% }) %> <% } %>
        </div>
      </form>
    </div>

    <script>
      setTimeout(() => {
        const errors = document.querySelectorAll(".flash-error");
        if (errors.length > 0) {
          errors.forEach((error) => {
            error.style.display = "none";
          });
        }
      }, 5000);
    </script>
  </body>
</html>
