<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>User Links</title>
  </head>
  <body>
    <%- include("../layout/header.ejs") %>
    <%- include("../partials/flashMessages.ejs") %>

    <div id="main">
      <%- include("../partials/userStatus.ejs") %>

      <h2 class="heading">Shortened URLs</h2>
      <%- include("../partials/links.ejs") %>
    </div>

    <script src="/scripts/flashMessages.js"></script>
  </body>
</html>
