* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow-x: hidden;
  background-color: #edf6f9;

  & > #main {
    background-color: #eeeeeed2;
    padding: 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 95vw;
    max-width: 700px;

    & > form.input-box {
      margin-bottom: 1em;

      & > div.password-valid-box {
        padding: 1em;
        margin-bottom: 1em;
        background-color: #e2edfd;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        & > h4 {
          font-size: 1.1em;
          font-weight: 400;
        }

        & > ul {
          border: none;
          display: block;
          font-size: 1.1em;
          font-weight: 400;
          color: #888;
          padding-block: 0.5em;
        }

        & li {
          list-style: disc;
        }
      }
    }

    & > div.profile-box {
      display: flex;
      width: 100%;
      gap: 1em;
      align-items: center;
      background-color: #669ffc;
      padding: 1em;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }

      & > div.profile-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        flex-grow: 1;
        color: #eee;
        border-left: 2px solid;
        padding-left: 1em;

        @media screen and (max-width: 600px) {
          border-left: 0;
        }

        & > h2 {
          text-align: left !important;
          margin-bottom: 10px;
        }

        & > h3 {
          margin-block: 0;
        }
      }
    }
  }
}

nav {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em;
  font-size: 1.3em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  & > h3 {
    margin-block: 0;
    color: #2370eb;
  }

  & > img.open-menu {
    height: 15px;
    display: none;
  }

  & > div.desktop-menu {
    width: fit-content;
    display: block;

    & > a {
      color: black;
      font-weight: 600;
      text-decoration: none;
      margin-inline: 10px;
    }
  }

  & > div.mobile-menu {
    background-color: #fff;
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    width: 100vw;
    height: 100vh;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;

    &.active {
      left: 0;
    }

    & > a {
      color: black;
      font-weight: 600;
      text-decoration: none;
      margin-inline: 10px;
      font-size: 1.5em;
    }

    & > img.close-menu {
      height: 40px;
      width: 40px;
      margin-bottom: 1.5em;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 1em;
    justify-content: space-between;

    & > div.desktop-menu {
      display: none;
    }

    & > div.mobile-menu {
      display: flex;
    }

    & > img.open-menu {
      display: block;
    }
  }
}

input {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  outline: none;
  margin-block: 5px 15px;
  font-size: 1.2em;
  padding-inline: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 40px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #3a86ff;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  &.resend-link {
    background-color: #888;
    width: fit-content;
    right: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  &:is(.logout, .verify) {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: fit-content;
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    font-size: 1em;

    &.logout {
      background-color: #ff6060;
    }
  }

  &:is(.edit, .delete, .logout-btn) {
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    width: fit-content;
    margin-bottom: 10px;
    padding-inline: 30px;
    font-size: 1em;
    display: block;

    &.edit {
      padding-inline: 41px;
    }

    &.delete {
      background-color: #ff6060;
    }
  }

  & a {
    color: #fff;
    text-decoration: none;
  }
}

.shorten-url {
  font-size: 1.2em;
  padding: 1em 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #aaa;

  & > div.avatar {
    display: none;

    @media screen and (min-width: 600px) {
      display: grid;
    }
  }

  &:hover {
    background-color: #e3ecfd;
  }

  & > div {
    color: #888;
  }

  & > .shorten-url-box {
    flex-grow: 1;
  }

  & > div.action-button {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media (min-width: 768px) {
      flex-direction: column;
      gap: 0;
    }
  }
}

h2 {
  text-align: center;
  margin-bottom: 1em;

  &.heading {
    margin: 1.5em 10px;
    text-align: left;
  }
}

h3 {
  margin-block: 1em;
}

ul {
  width: 100%;
  max-width: 900px;
  font-size: 1.4em;
  font-weight: 600;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 1em;
}

p {
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &.flash-error {
    background-color: #ff6e6e;
  }

  &.flash-success {
    background-color: #28db22;
  }
}

.user-login-success {
  width: fit-content;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  background-color: #beffa4;
  color: #06be00;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-login-error {
  width: fit-content;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  background-color: #ffa4a4;
  color: #be0000;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-login-warning {
  width: fit-content;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  background-color: #ebffa4;
  color: #beb100;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.avatar {
  background: #000;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &.big {
    width: 80px;
    height: 80px;
    font-size: 2.5em;
  }
}

.profile-overview {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

.verification-status {
  margin-top: 1em;
  width: 100%;
  background-color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  & > .verify-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media screen and (max-width: 450px) {
      flex-direction: column;
    }
  }
}

.links-overview-box {
  margin-block: 1em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1em;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
    gap: 0;
  }

  & > h2.heading {
    @media screen and (max-width: 600px) {
      margin-block: 0;
      text-align: center;
      padding-block: 15px;
    }
  }

  & > .links-overview {
    display: grid;
    place-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    padding-block: auto;
    padding-inline: 1em;
    border-left: 2px solid #aaa;

    @media screen and (max-width: 600px) {
      border-left: 0;
      border-bottom: 2px solid #aaa;
      padding-block: 1em;
    }

    & > div {
      color: #888;
    }
  }
}

.button-group {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  align-items: center;
  width: 100%;
  max-width: 700px;
  font-weight: 600;
  font-size: 1.2em;
}

.box > strong {
  font-size: 1.2em;
}

.confirmation-box {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  place-content: center;
  background-color: #00000088;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  & > .confirm-box {
    background-color: #fff;
    padding: 1em;
    max-width: 340px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    & > div {
      width: 100%;
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;
    }
  }
}

.oauth-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-block: 1em;

  & > a > img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    &.github {
      height: 40px;
      width: 40px;
    }

    &.google {
      width: 40px;
      height: 40px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1em;
  font-weight: bold;

  & > a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 12px;
    text-decoration: none;
    color: #2370eb;
    border: 1px solid #2370eb;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #2370eb;
      color: white;
    }

    & > span {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  & > .current {
    padding: 6px 12px;
    background-color: #2370eb;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
}
