<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="shortcut icon"
      href="/assets/images/logo.png"
      type="image/x-icon"
    />
    <title>About</title>
  </head>
  <body>
    <%- include("../layout/header.ejs") %>
    <div id="main">
      <h1>
        This project called Url Shortener <br />Created using the following
        technologies:
      </h1>
      <ul>
        <li>HTML</li>
        <li>|</li>
        <li>CSS</li>
        <li>|</li>
        <li>JavaScript</li>
        <li>|</li>
        <li>Node.js</li>
        <li>|</li>
        <li>Express.js</li>
        <li>|</li>
        <li>MongoDB</li>
        <li>|</li>
        <li>Ejs</li>
      </ul>
    </div>
  </body>
</html>
