<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>URL Shortener</title>
  </head>
  <body>
    <%- include("../layout/header.ejs") %>
    <%- include("../partials/flashMessages.ejs") %>

    <div id="main">
      <%- include("../partials/userStatus.ejs") %>

      <% if (isVerified) { %>
      <form class="input-box" action="/add-url" method="post">
        <h2 class="heading">URL Shortener</h2>
        <div class="box">
          <input
            type="url"
            name="url"
            class="url"
            placeholder="Enter URL"
            required
          />
        </div>
        <div class="box">
          <input
            type="text"
            name="shortCode"
            class="custom-url"
            placeholder="Enter custom short code (Optional)"
          />
        </div>
        <button type="submit">Short</button>
      </form>
      <% } %>

      <h2 class="heading">Shortened URLs</h2>
      <%- include("../partials/links.ejs") %>
    </div>

    <script src="/scripts/flashMessages.js"></script>
  </body>
</html>
