<nav>
  <h3><a href="/"><img src="/assets/images/logo.png" alt="">Url Shortener</a></h3>
  <div class="desktop-menu">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/links">Links</a>
    <% if (user) { %>
    <a href="/user/<%= user.id %>/links?page=1">Your Links</a>
    <a href="/user/profile">Profile</a>
    <% } else { %>
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Login</a>
    <% } %>
  </div>
  <img src="/assets/icons/menu-open.png" alt="Open" class="open-menu">
  <div class="mobile-menu">
    <img src="/assets/icons/menu-close.png" alt="Close" class="close-menu">
    <div>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/links">Links</a>
      <% if (user) { %>
        <a href="/user/<%= user.id %>/links?page=1">Your Links</a>
      <a href="/user/profile">Profile</a>
      <% } else { %>
      <a href="/auth/register">Register</a>
      <a href="/auth/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>
<script>
  document.querySelector(".open-menu").addEventListener("click", () => {
    document.querySelector(".mobile-menu").classList.add("active")
  })
  document.querySelector(".close-menu").addEventListener("click", () => {
    document.querySelector(".mobile-menu").classList.remove("active")
  })
</script>
